*{
    box-sizing: border-box;
    margin:0 ;
}
h1{
    color: white;
    text-align: center;
    margin: 30px;
    text-decoration: underline;
}
.box{
    background-color: antiquewhite;
    width: 800px;
    height: 800px;
    margin:0 auto;
}
.white{
    background-image: url('../images/white.png');
}
.black{
    background-image: url('../images/Untitled-1.png');
}
.box1{
    width: 100px;
    height: 100px;
    float: left;
}

img{
    width: 100px;
    height: 100px;
}
body{
   background-image: url('../images/bg.jpg');
   background-size: cover;
}
