*{
    margin:0;
    box-sizing: border-box;
}
.d-ib{
    display: inline-block;
}
.p-absolute{
    position: absolute;
}
.bg{
    padding: 5px 0px;
    height: 19px;
  
}
.topbar{
    padding: 5px 0px;
    background-color: lightblue;
}
.container{
    width: 1320px;
    margin:0 auto;
    position: relative;
    font-family: "Roboto", sans-serif;
 
}
.heading{
    width: 300px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
}
.space1{
   width: 920px;
}
.fbtn{
  border: none;
  background-color: transparent;
  font-size: 11px;
}

.logo{
    width: 200px;
    margin-top: 15px;
}
img{
    width: 100%;
}
.sbox{
    width: 100px;
    position: absolute;
    top: 30px;
    left: 220px;
    width: 500px;
    height: 30px;
}
.ri-search-line{
    position: absolute;
    top: 7px;
    left: 445px;
}
.sbox input{
   width: 470px;
    height: 30px;
   border: 1px solid gray;
   border-radius: 5px;
   padding-left: 10px;
}
.btn2{
    border: none;
    background-color: transparent;
    color: gray;
}
.location{
    position: absolute;
    left: 700px;
    top: 30px;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    padding: 4px;
    color: gray;
    padding-left: 10px;
    border-radius: 5px;
}
.icons{
    position: absolute;
    right: 45px;
    top: 35px;
    font-size: 20px;
    color: gray;
}


.btn3{
    width: 130px;
    height: 30px;
    background-color: green;
    padding: 5px 7px;
    border-radius: 5px;
}
.b3{
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: white;
}

.home{
    width: 50px;
    font-size: 12px;
    padding: 6px 0px;
    left: 240px;
    top: 90px;
}
.shop{
    width: 50px;
    font-size: 12px;
    padding: 6px 0px;
    left: 310px;
    top: 90px;
}
.stores{
    width: 50px;
    font-size: 12px;
    padding: 6px 0px;
    left: 380px;
    top: 90px;
}
.menu{
    width: 80px;
    font-size: 12px;
    padding: 6px 0px;
    left: 450px;
    top: 90px;
}
.pages{
    width: 50px;
    font-size: 12px;
    padding: 6px 0px;
    left: 550px;
    top: 90px;
}
.account{
    width: 60px;
    font-size: 12px;
    padding: 6px 0px;
    left: 620px;
    top: 90px;
}
.dashboard{
    width: 60px;
    font-size: 12px;
    padding: 6px 0px;
    left: 700px;
    top: 90px;
}
.docs{
    width: 60px;
    font-size: 12px;
    padding: 6px 0px;
    left: 780px;
    top: 90px;
}